body{
    background-image:url("https://images.unsplash.com/photo-1592210454359-9043f067919b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8d2VhdGhlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60") ;
    background-position: center;
    background-attachment: fixed;
    background-size:cover ;
    /* background-position:top ;  */
    
}
.infor{
    margin: 0;
    font: 100% / 1.5 Raleway, sans-serif;
    color: hsl(230, 100%, 95%);
    background: linear-gradient(135deg, hsl(0, 98%, 38%), hsl(231, 99%, 41%));
    animation: lights 5s 0ms linear infinite;
    border-radius: 3%
} 

main{
    margin-bottom: 450px;
}

#dgree_change{
    border-radius: 50%;
}
.text {
    margin-top: 10%;
    margin-bottom: 4%;
	text-transform: uppercase;
	background: linear-gradient(to right, #b700ff 0%, #ffffff 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size:65px;
	font-family: 'Poppins', sans-serif
};
